@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    margin-left: 50px;
}
.title{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(
        180deg,
        rgba(255,255,255,1) 30%,
        rgba(255,255,255,0) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.description{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
}
.contactbtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.634);
}
.contactbtn:hover{
    background-color: var( --color-dark);
}
.heroImg{
    width: 40%;
    z-index: -1;
    margin-right: 30px;
    margin-bottom: 80px;

    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating{
    0%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, -0px);
    }
}

.topBlur{
    position: absolute;
    width: 2vw;
    height: 50vw;
    min-width: 100px;
    min-width: 100px;
    top: 100px;
    left: 80vw;
    border: 764px;
    background: #589a8daf;
    filter: blur(100px);
    z-index: 0;
    
}
.bottomBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 100px;
    min-width: 100px;
    top: 100px;
    right:  85vw;
    border: 764px;
    background: #589a8daf;
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width:830px){
    .container{
        flex-direction: column;
    }
    .content{
        align-items: center;
    }
    .title{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .description{
        text-align: justify;
    }
    .contactbtn{
        align-items: center;
        justify-content: center;
    }
    .heroImg{
        width: 70%;
        align-items: center;
        justify-content: center;
    }
}