@import "../../vars.css";

.container{
    gap: 80px;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
    color: var(--color-text);
    background-color: var(--color-secondary);
    justify-content: center;
    padding: 55px 10%;
    width: 100vw;
}

.text h2{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.text p {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    gap: 90px;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.link a{
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

@media screen and (max-width:830px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links{
        align-items: center;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 30px;
    }
}